---
const url = `${import.meta.env.API_URL}/products?product_categories=6`
const res = await fetch(url)
const json = await res.json()

---
<div>
    <h4 class="text-white font-black text-4xl uppercase text-center my-10">Café</h4>
</div>