---
import { PostSchema } from "@src/types";

export const prerender = false;

const url = `${import.meta.env.API_URL}/posts?slug=${Astro.params.blogPost}`
const res = await fetch(url)
const json = await res.json()
const post = PostSchema.parse(json[0])
console.log(post);



---
<h1>Desde Slug</h1>