---
import Layout from "@src/layouts/Layout.astro";
import bg from "../assets/bg_404.jpg"
---

<Layout 
title="Pagina no encontrada" 
subtitle="Pagina no encontrada" 
bgImage={bg.src}
>

<p class="text-center text-lg">
    Tal vez quieras volver al {''}
    <a href="/" class="text-coffee-600 font-bold">Inicio</a>
    <br/>
    o leer mas en nuestro {''}
        <a href="/blog" class="text-coffee-600 font-bold">Blog</a>

</p>

</Layout>