---
import Layout from "../layouts/Layout.astro";
import bg from "../assets/bg_home.jpg";
---

<Layout
  title="Inicio"
  subtitle="Disfruta de una deliciosa taza de café"
  bgImage={bg.src}
>
      <h1>Inicio</h1>

</Layout>
