---
import { BaseWPSchema } from "@src/types";
import Layout from "../layouts/Layout.astro";


const url = 'http://coffeeshop.local/wp-json/wp/v2/pages/?slug=nosotros'
const res = await fetch(url);
const json = await res.json();
console.log(json[0]);
const data = BaseWPSchema.parse(json[0]);
console.log(data);


---

<Layout title="Nosotros">
  <h1>{json[0].title.rendered}</h1>
</Layout>
