---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
<h1>Nosotros</h1>
<h2>Sobre nosotros</h2>
<p>Somos una empresa dedicada a brindar soluciones tecnológicas innovadoras.</p>
</Layout>