---
import Header from "@src/components/ui/Header.astro";
import Footer from "@src/components/ui/Footer.astro";
import "@src/styles/global.css";

type Props = {
  title: string;
  subtitle?: string;
  bgImage: string;
};
const { title, subtitle, bgImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Vinsmake" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Cafetería desde 1939: {title}</title>
  </head>

  <body class="bg-coffee-100">
    <Header bgImage={bgImage} subtitle={subtitle} />

        <slot name="before-main"/>


    <main class="bg-white p-20 max-w-7xl mx-auto lg:-mt-20 relative">
      <slot />
    </main>

    <slot name="after-main"/>

    <Footer />
  </body>
</html>
