---
import Logo from "@src/assets/logo.svg";
import MainNav from "./MainNav.astro";

type Props = {
  bgImage: string;
};

const { bgImage } = Astro.props;
---

<header class="min-h-72 relative pb-72">
  <div
    class="inset-0 absolute bg-center bg-cover"
    style={`background-image:url(${bgImage});`}
  >
  </div>
  <div class="absolute inset-0 bg-black/60"></div>
  <div
    class="relative max-w-7xl mx-auto py-3 flex flex-col items-center lg:flex-row lg:justify-between"
  >
    <a href="/">
      <Logo class="w-72" />
    </a>
    <MainNav />
  </div>
</header>
